<html>
  <head>
    <title>Password Reset Request</title>
  </head>
  <body>
    <div>
      <span style='font-weight: bold;'>Please click below to reset your password</span>
      <p>{{token}}</p>
      <p>{{userId}}</p>
    </div>
  </body>
</html>