<html>
  <head>
    <title>Password Reset Request</title>
  </head>
  <body>
    <div>
      <span style="font-weight: bold;">Please click below to reset your password</span>
      <span>{{token}}</span>
    </div>
  </body>
</html>